<div
  class="h-screen bg-cover bg-center flex flex-col items-center justify-center"
  style="background-image: url('../../../assets/imgs/background.jpg')">
  <div class="flex flex-col sm:flex- items-center text-center">
    <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-semibold text-white leading-tight mb-4">Streamlining Careers <br> Connecting Talent</h1>
    <p class="max-w-64 sm:max-w-full text-sm md:text-lg lg:text-xl sm:my-5 md:my-7 text-white">
      Unlock your potential with quality jobs & earn from world leading brands.
    </p>
    <div
      class="flex flex-col sm:flex-row items-center justify-between sm:p-0 sm:gap-0
            gap-3 py-2 bg-white bg-opacity-30 sm:bg-opacity-100 rounded-xl w-72 sm:w-full mt-5">
      <div class="flex flex-col items-start pl-3 lg:pl-6 w-60 lg:w-72 gap-1 lg:gap-1.5">
        <p class="text-xs md:text-sm text-gray-50 sm:text-gray-300 text-center sm:text-left">
          Your job title, keyword or company?
        </p>
        <input type="text" placeholder="Frontend Developer"
          class="search w-full outline-none text-lg text-white sm:text-gray-700 lg:py-1 bg-white bg-opacity-0">
      </div>
      <div class="h-px w-44 sm:h-12 sm:w-px bg-gray-200"></div>
      <div class="flex flex-col items-start lg:gap-1.5 pl-0 sm:pl-3 lg:pl-6 w-52 lg:w-60">
        <p class="text-xs md:text-sm text-gray-50 sm:text-gray-300 text-left">Location</p>
        <select
          class="text-white sm:text-gray-700 text-lg pr-28 sm:pr-16 lg:pr-20 py-1
                outline-none bg-white bg-opacity-0">
          <option class="bg-gray-950 bg-opacity-25 text-white">London, Uk</option>
          <option class="bg-gray-950 bg-opacity-25 text-white">Istanbul, Tr</option>
          <option class="bg-gray-950 bg-opacity-25 text-white">Cairo, Eg</option>
        </select>
      </div>
      <button
        class="h-8 sm:h-14 md:h-16 lg:h-20 w-32 sm:w-20 md:w-28 lg:w-32 sm:rounded-l-none bg-blue-700 text-white md:text-lg rounded-xl">
        Search
      </button>
    </div>
  </div>
</div>
