<div class="flex flex-col items-center bg-blue-50 py-16">
  <div class="flex justify-between items-center w-4/5 max-w-7xl">
    <h2 class="text-2xl sm:text-4xl lg:text-5xl font-semibold"
        [ngClass]="{ 'text-blue-950': isHome, 'text-blue-700': !isHome }">{{ title }}</h2>
    <button class="text-blue-700 font-medium items-center text-xs sm:text-sm lg:text-lg flex gap-1 sm:gap-2"
      [ngClass]="{ 'bg-blue-100 rounded-full p-3': isHome,
      'border-b-2 border-blue-700 pb-3': !isHome}">
      Explore all jobs
      <svg *ngIf="isHome" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z" stroke="#221FD6" stroke-width="1.5"/>
        <path d="M9.49807 9.50002L9.2609 8.78851L8.90514 8.90709L8.78655 9.26285L9.49807 9.50002ZM14.4998 14.5L14.7369 15.2115L15.0928 15.0929L15.2114 14.737L14.4998 14.5ZM6.99807 17L6.28655 16.7628C6.19672 17.0323 6.26686 17.3294 6.46772 17.5303C6.66858 17.7312 6.96569 17.8013 7.23519 17.7115L6.99807 17ZM16.998 7.00002L17.7096 7.23704C17.7994 6.96755 17.7292 6.67047 17.5283 6.46963C17.3274 6.2688 17.0304 6.19868 16.7609 6.28851L16.998 7.00002ZM16.7609 6.28851L9.2609 8.78851L9.73524 10.2115L17.2352 7.71153L16.7609 6.28851ZM16.2865 6.763L13.7882 14.263L15.2114 14.737L17.7096 7.23704L16.2865 6.763ZM7.23519 17.7115L14.7369 15.2115L14.2627 13.7885L6.76095 16.2885L7.23519 17.7115ZM7.70958 17.2372L10.2096 9.73719L8.78655 9.26285L6.28655 16.7628L7.70958 17.2372Z" fill="#221FD6"/>
        <path d="M12.0001 12L11.9937 12.0064" stroke="#221FD6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg *ngIf="!isHome" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L5.05 5.77686L1 10.5537" stroke="#4E5CFF" stroke-width="2"/>
      </svg>
    </button>
  </div>
  <div class="w-4/5 max-w-7xl flex flex-col items-center">
    <div *ngFor="let job of jobListings" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 bg-white mt-8 w-full p-8 rounded-lg border-2 border-gray-100">
      <div class="flex items-center justify-center sm:justify-start gap-4">
        <img [src]="job.companyLogo" alt="company logo">
        <p class="font-medium text-xl w-1/2 lg:w-2/3">{{ job.jobTitle }}</p>
      </div>
      <div class="flex flex-col justify-center items-center sm:items-end lg:items-start mt-8 sm:mt-0 lg:pl-24">
        <p class="py-1 w-24 mb-2 font-medium text-center"
          [ngClass]="{
            'bg-[#EEFFF5] text-[#00BF58]': job.jobType === 'Part Time',
            'bg-blue-50 text-blue-700': job.jobType === 'Full Time',
            'bg-[#FFFAEC] text-[#B44809]': job.jobType === 'Freelance'
          }">{{ job.jobType }}</p>
        <p class="text-gray-400 font-medium">{{ job.postDate }} by <a class="text-black">{{ job.companyName }}</a></p>
      </div>
      <div class="flex flex-col justify-center items-center sm:items-start mt-8 lg:mt-0 lg:pl-28">
        <p class="text-gray-400">{{ job.location }}</p>
        <p class="font-medium">{{ job.categories }}</p>
      </div>
      <div class="flex justify-center sm:justify-end items-center gap-5 mt-8 lg:mt-0">
        <img class="w-10 h-10" src="assets/imgs/save.png" alt="save icon">
        <button class="bg-blue-700 text-white h-10 w-24 rounded-3xl">APPLY</button>
      </div>
    </div>
  </div>
</div>
